@using Kendo.Mvc.UI
@using DVMN.Models.FilmViewModels;
@model WatchFilmViewModel

<div class="panel panel-default">
    @*<div class="panel-heading" style="padding: 10px 15px">
        <h4 class="panel-title">Thông tin phim</h4>
    </div>*@
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <img src="@Model.Image.Pic268x268" class="img-responsive" />
            </div>
            <div class="col-md-7" style="color: black">
                <h3 class="text-primary">@Model.Title</h3>
                <p class="">@Model.OrtherTitle</p>
                <p>Trạng thái @Model.Info</p>
                <p>Thời lượng: @Model.Length</p>
                <p>Diễn viên: </p>
                <p>Đạo diễn: </p>
                <p>Lượt xem: @Model.Watch</p>
                <p>Năm xuất bản: @Model.DateofRease.Value.Year</p>
                @if(!String.IsNullOrEmpty(Model.AuthorID))
                { 
                <p>Đăng bởi: @Model.Member.FullName</p>
                }
                <a asp-action="watch" asp-controller="film" asp-route-slug="@Model.Slug" class="btn btn-success"><i class="fa fa-file-movie-o"></i> Xem phim</a>
                <a asp-action="download" asp-controller="film" asp-route-slug="@Model.Slug" class="btn btn-danger"><i class="fa fa-download"></i> Tải về</a>
            </div>
        </div>
      
        
    </div>
</div>
<div class="panel panel-default">
    @*<div class="panel-heading" style="padding: 10px 15px">
        <h3 class="panel-title">Nội dung film</h3>
    </div>*@
    <div class="panel-body">
        @Html.Raw(Model.Description)
    </div>
</div>